%form{ :action => "/create", :method => "post"}
    %label{:for => "name"} Words languague/Lenguaje de las palabras:
    %select
        %option{value: "eng"}= "English"
        %option{value: "spa"}= "Español"
    %input{:type => "button", :name => "name", :value => "Submit"}