<!DOCTYPE html><html><head></head>

<form method="post" action="/create">
    <select >
        <option value="spa"> Spanish </option>
        <option value="eng"> English </option>
    </select>
    <input type="button" value="submit">
</form>

</html>